@import url(../font/firstorder.ttf);
@import url(../font/firstorder.ttf);
.navcontainer {
  font-family: monospace;
  font-weight: bold;
  font-size: large;
  z-index: 999;
  background-color: white;
  position: sticky !important;
  top: 0;
  box-shadow: 0px 5px 7px -3px #8a868a;
  position: relative; }
  @media (min-width: 768px) {
    .navcontainer {
      flex-direction: row;
      justify-content: space-between; } }
  .navcontainer .deercontainer {
    padding-left: 10px;
    display: none;
    width: 10%; }
    @media (min-width: 768px) {
      .navcontainer .deercontainer {
        margin-top: 10px;
        display: inline-block; } }
    .navcontainer .deercontainer .deer {
      background-image: url(../img/polartablet2.jpg);
      background-position: center;
      background-size: cover;
      display: none;
      height: 50px;
      width: 40px; }
      @media (min-width: 768px) {
        .navcontainer .deercontainer .deer {
          display: inline-block; } }
  .navcontainer .tabletnavcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0; }
    @media (min-width: 768px) {
      .navcontainer .tabletnavcontainer {
        width: 75%;
        display: inline-block;
        text-align: center; } }
    @media (min-width: 768px) {
      .navcontainer .tabletnavcontainer .listcontainer {
        display: flex;
        justify-content: space-around; } }
    .navcontainer .tabletnavcontainer li {
      list-style: none; }
      .navcontainer .tabletnavcontainer li .listbuttons {
        background-color: white;
        border: none;
        margin-top: 20px;
        display: none; }
        @media (min-width: 768px) {
          .navcontainer .tabletnavcontainer li .listbuttons {
            display: inline-block;
            margin: 0 5px; } }
  @media (min-width: 768px) {
    .navcontainer .basketcontainer {
      width: 10%;
      display: inline-block; } }
  .navcontainer .basketcontainer i {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.8em; }
  .navcontainer .basketcontainer .badge {
    position: absolute;
    right: 12px;
    top: 15px; }
  .navcontainer .js-toggleMenu {
    background-image: url(../img/polar.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    left: 10px;
    top: 0;
    z-index: 9;
    height: 50px;
    width: 40px;
    border: none;
    background-color: white; }
    @media (min-width: 768px) {
      .navcontainer .js-toggleMenu {
        display: none; } }
  .navcontainer .js-menu {
    display: none;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 8; }
    @media (min-width: 768px) {
      .navcontainer .js-menu {
        display: none !important; } }
    .navcontainer .js-menu .js-toggleDrink {
      margin-top: 10px;
      font-weight: bold;
      position: relative;
      border: none;
      background-color: white; }
    .navcontainer .js-menu .js-drinkMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
      .navcontainer .js-menu .js-drinkMenu .mobilebtn {
        border: none;
        background-color: white; }
    .navcontainer .js-menu .js-toggleSnow {
      font-weight: bold;
      border: none;
      background-color: white; }
    .navcontainer .js-menu .js-snowMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
      .navcontainer .js-menu .js-snowMenu .mobilebtn {
        border: none;
        background-color: white; }
    .navcontainer .js-menu .js-toggleTobacco {
      font-weight: bold;
      border: none;
      background-color: white; }
    .navcontainer .js-menu .js-tobaccoMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
      .navcontainer .js-menu .js-tobaccoMenu .mobilebtn {
        border: none;
        background-color: white; }
    .navcontainer .js-menu .js-toggleGuns {
      font-weight: bold;
      border: none;
      background-color: white; }
    .navcontainer .js-menu .js-gunsMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
      .navcontainer .js-menu .js-gunsMenu .mobilebtn {
        border: none;
        background-color: white; }

.tabletdropdowncontainer {
  font-family: monospace;
  display: none; }
  @media (min-width: 768px) {
    .tabletdropdowncontainer {
      border-radius: 5px;
      padding: 20px;
      z-index: 8;
      background-color: white;
      position: sticky !important;
      top: 70px;
      margin: 10px auto;
      width: 100%;
      box-shadow: 0px 5px 7px -3px #8a868a; } }
  .tabletdropdowncontainer .tabletdropdown {
    display: none; }
    @media (min-width: 768px) {
      .tabletdropdowncontainer .tabletdropdown {
        margin-left: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white; } }
    .tabletdropdowncontainer .tabletdropdown .tabletprodutcs {
      width: 24%;
      display: flex;
      flex-direction: column; }
      .tabletdropdowncontainer .tabletdropdown .tabletprodutcs .tabletdropbutton {
        background-color: white;
        border: none;
        width: 100%;
        text-align: start; }

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px -13px 17px 8px white;
  padding: 10px;
  font-size: 14px; }
  .footer-content .content {
    color: #252525;
    width: 30%;
    padding: 10px; }
    .footer-content .content ul {
      list-style-type: none;
      padding: 0; }
      .footer-content .content ul li {
        padding: 3px; }
        .footer-content .content ul li a {
          color: #252525; }
          .footer-content .content ul li a i {
            margin-right: 5px; }
          .footer-content .content ul li a a:hover {
            color: #3f3f3f; }

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: wrap; }
  body .second-header {
    width: 100%;
    height: 150px;
    background-image: url(../img/dryckheader.jpg);
    background-position: center;
    background-size: cover;
    text-align: center; }
    body .second-header .second-logo {
      margin-top: 45px;
      margin-bottom: 0px;
      font-size: 2.5em;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: 900;
      font-family: "firstorder";
      text-transform: uppercase; }
      @media (min-width: 768px) {
        body .second-header .second-logo {
          font-size: 4em; } }

.specificproduct {
  display: none;
  width: 100%;
  height: 800px;
  background-color: black; }

#product-wrapper {
  background-image: url(../img/wood2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    #product-wrapper {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; } }
  #product-wrapper .productcontainer {
    border: 1px solid #8d999948;
    height: 500px;
    width: 90%;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #8d9999; }
    @media (min-width: 768px) {
      #product-wrapper .productcontainer {
        width: 45%; } }
    @media (min-width: 992px) {
      #product-wrapper .productcontainer {
        width: 22%;
        height: 350px; } }
    #product-wrapper .productcontainer .productname {
      font-size: large;
      width: 100%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    #product-wrapper .productcontainer .productimg {
      width: auto;
      height: 200px; }
      @media (min-width: 768px) {
        #product-wrapper .productcontainer .productimg {
          width: 50%; } }
    #product-wrapper .productcontainer .productprice {
      font-weight: bold; }
    #product-wrapper .productcontainer i {
      cursor: pointer;
      font-size: 48px;
      margin-top: 20px; }

body .inputcontainer {
  margin: 20px;
  display: flex;
  align-content: center;
  flex-direction: column; }
  body .inputcontainer label {
    font-family: 'Courier New', Courier, monospace; }
  body .inputcontainer input {
    border: 1px solid black;
    width: 20%; }
  body .inputcontainer button {
    border: 1px solid black;
    width: 80px;
    border-radius: 5px; }

.welcomebody {
  background-image: url("../img/bakgrund2.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .welcomebody {
      background-position: center; } }
  .welcomebody .welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    width: 80%; }
    @media (min-width: 768px) {
      .welcomebody .welcome-wrapper {
        width: 50%; } }
  .welcomebody h1 {
    text-align: center;
    margin: 100px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em; }
  .welcomebody p {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    border-radius: 5px; }
  .welcomebody .age-form {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 175px;
    border-radius: 5px; }
    .welcomebody .age-form .inputcontainer {
      margin: 0; }
      .welcomebody .age-form .inputcontainer #year {
        width: 100%; }
      .welcomebody .age-form .inputcontainer input {
        width: 70%;
        text-align: center;
        margin: 10px auto;
        border: 1px solid white;
        background-color: rgba(62, 29, 68, 0.5);
        border-radius: 5px;
        max-width: 60px; }
      .welcomebody .age-form .inputcontainer label {
        color: white;
        text-align: center; }
  .welcomebody #agebutton {
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 5px; }

#divmodal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #divmodal .innerModal {
    background-color: #fff;
    visibility: hidden;
    width: 500px;
    height: auto;
    padding: 25px;
    margin: 15% auto;
    border-radius: 4px; }
    #divmodal .innerModal #modalcontent {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #divmodal .innerModal #modalcontent .listcontainer {
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        #divmodal .innerModal #modalcontent .listcontainer .modalimg {
          width: auto;
          height: 50px; }
        #divmodal .innerModal #modalcontent .listcontainer .modalamount {
          width: 10%; }
        #divmodal .innerModal #modalcontent .listcontainer .modalnameprice {
          width: 50%; }
        #divmodal .innerModal #modalcontent .listcontainer .modaltotprice {
          width: 10%; }
      #divmodal .innerModal #modalcontent .totalprice {
        margin: 20px auto;
        font-weight: bold;
        color: green; }
    #divmodal .innerModal .close {
      cursor: pointer;
      transform: rotate(45deg); }
    #divmodal .innerModal .heart:hover .fas.fa-heart {
      color: #8f1414; }
    #divmodal .innerModal a {
      color: rgba(0, 0, 0, 0.7); }

#divmodal.active {
  visibility: visible; }
  #divmodal.active .innerModal.active {
    visibility: visible; }

.mainbody, .productbody {
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: wrap; }
  .mainbody header, .productbody header {
    width: 100%;
    height: 650px;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center; }
    .mainbody header .thingy, .productbody header .thingy {
      position: absolute;
      bottom: 50px;
      width: 100%;
      height: 50px;
      background-color: white;
      background-size: cover;
      clip-path: polygon(0% 100%, 100% 100%, 0% 0%); }
    .mainbody header h1, .productbody header h1 {
      margin-top: 250px;
      margin-bottom: 0px;
      font-size: 4em;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: 900;
      font-family: "firstorder";
      text-transform: uppercase; }
      @media (min-width: 768px) {
        .mainbody header h1, .productbody header h1 {
          font-size: 5em; } }
    .mainbody header h3, .productbody header h3 {
      margin-top: 0px;
      font-size: 2em;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: 900;
      font-family: "firstorder"; }
      @media (min-width: 768px) {
        .mainbody header h3, .productbody header h3 {
          font-size: 3em; } }
  .mainbody .wrapper, .productbody .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 35px; }
    .mainbody .wrapper #about-us, .productbody .wrapper #about-us {
      width: 90%; }
    .mainbody .wrapper span, .productbody .wrapper span {
      line-height: 15px; }
  .mainbody .main-content, .productbody .main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    .mainbody .main-content #highlight1, .productbody .main-content #highlight1 {
      background-image: url(../img/hemmabryggeri.jpeg);
      background-position: 30%;
      background-size: cover; }
    .mainbody .main-content #highlight2, .productbody .main-content #highlight2 {
      background-image: url(../img/ren.jpg);
      background-position: center;
      background-size: cover; }
      @media (min-width: 768px) {
        .mainbody .main-content #highlight2, .productbody .main-content #highlight2 {
          background-position: left; } }
    .mainbody .main-content #highlight3, .productbody .main-content #highlight3 {
      background-image: url(../img/bastu.jpeg);
      background-position: center;
      background-size: cover; }
    .mainbody .main-content .content, .productbody .main-content .content {
      width: 90%;
      height: 300px;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative; }
      @media (min-width: 768px) {
        .mainbody .main-content .content, .productbody .main-content .content {
          width: 30%; } }
      .mainbody .main-content .content div, .productbody .main-content .content div {
        position: absolute;
        bottom: 10px;
        left: 10px; }
        .mainbody .main-content .content div h3, .productbody .main-content .content div h3 {
          color: white;
          font-size: 45px;
          text-shadow: 0px 0px 5px black; }
          @media (min-width: 768px) {
            .mainbody .main-content .content div h3, .productbody .main-content .content div h3 {
              font-size: 30px; } }
        .mainbody .main-content .content div span, .productbody .main-content .content div span {
          color: white;
          font-size: 15px;
          text-shadow: 0px 0px 5px black;
          margin-left: 2px;
          font-weight: 700; }
  .mainbody footer, .productbody footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: white; }
