@import url(../font/firstorder.ttf);
.navcontainer {
  position: relative; }
  @media (min-width: 768px) {
    .navcontainer {
      border-bottom: 1px solid black;
      flex-direction: row;
      justify-content: space-between; } }
  .navcontainer .deercontainer {
    display: none;
    width: 10%;
    position: relative;
    left: 10px;
    top: 5px; }
    @media (min-width: 768px) {
      .navcontainer .deercontainer {
        display: inline-block; } }
    .navcontainer .deercontainer .deer {
      background-image: url(../img/polartablet2.jpg);
      background-position: center;
      background-size: cover;
      display: none;
      height: 50px;
      width: 40px; }
      @media (min-width: 768px) {
        .navcontainer .deercontainer .deer {
          display: inline-block; } }
  .navcontainer .tabletnavcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0; }
    @media (min-width: 768px) {
      .navcontainer .tabletnavcontainer {
        width: 75%;
        display: inline-block;
        text-align: center; } }
    .navcontainer .tabletnavcontainer .listbuttons {
      margin-top: 20px;
      display: none; }
      @media (min-width: 768px) {
        .navcontainer .tabletnavcontainer .listbuttons {
          display: inline-block;
          margin: 0 5px; } }
  @media (min-width: 768px) {
    .navcontainer .basketcontainer {
      width: 10%; } }
  .navcontainer .js-toggleMenu {
    background-image: url(../img/polar.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 9;
    height: 50px;
    width: 40px;
    border: none; }
    @media (min-width: 768px) {
      .navcontainer .js-toggleMenu {
        display: none; } }
  .navcontainer .js-menu {
    display: none;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 8; }
    @media (min-width: 768px) {
      .navcontainer .js-menu {
        display: none !important; } }
    .navcontainer .js-menu .js-toggleDrink {
      margin-top: 10px;
      font-weight: bold;
      position: relative; }
    .navcontainer .js-menu .js-drinkMenu {
      width: 50%;
      display: none;
      width: 100%;
      height: 120px;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
    .navcontainer .js-menu .js-toggleSnow {
      font-weight: bold; }
    .navcontainer .js-menu .js-snowMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
    .navcontainer .js-menu .js-toggleTobacco {
      font-weight: bold; }
    .navcontainer .js-menu .js-tobaccoMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
    .navcontainer .js-menu .js-toggleGuns {
      font-weight: bold; }
    .navcontainer .js-menu .js-gunsMenu {
      width: 50%;
      display: none;
      width: 100%;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 8; }
  .navcontainer i {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 1.8em; }
  .navcontainer .badge {
    position: absolute;
    right: 12px;
    top: 10px; }

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px -13px 17px 8px white;
  padding: 10px;
  font-size: 14px; }
  .footer-content .content {
    color: #252525;
    width: 30%;
    padding: 10px; }
    .footer-content .content ul {
      list-style-type: none;
      padding: 0; }
      .footer-content .content ul li {
        padding: 3px; }
        .footer-content .content ul li a {
          color: #252525; }
          .footer-content .content ul li a i {
            margin-right: 5px; }
          .footer-content .content ul li a a:hover {
            color: #3f3f3f; }

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: wrap; }
  body .second-header {
    width: 100%;
    height: 150px;
    background-image: url(../img/dryckheader.jpg);
    background-position: center;
    background-size: cover;
    text-align: center; }
    body .second-header .second-logo {
      margin-top: 45px;
      margin-bottom: 0px;
      font-size: 2.5em;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: 900;
      font-family: "firstorder";
      text-transform: uppercase; }
      @media (min-width: 768px) {
        body .second-header .second-logo {
          font-size: 4em; } }

#product-wrapper {
  background-image: url(../img/wood2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    #product-wrapper {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; } }
  #product-wrapper .productcontainer {
    border: 1px solid #8d999948;
    height: 500px;
    width: 90%;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #8d9999; }
    @media (min-width: 768px) {
      #product-wrapper .productcontainer {
        width: 45%; } }
    @media (min-width: 992px) {
      #product-wrapper .productcontainer {
        width: 22%;
        height: 350px; } }
    #product-wrapper .productcontainer .productname {
      font-size: large;
      width: 100%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    #product-wrapper .productcontainer .productimg {
      width: 300px;
      height: auto; }
      @media (min-width: 768px) {
        #product-wrapper .productcontainer .productimg {
          width: 50%; } }
    #product-wrapper .productcontainer .productprice {
      font-weight: bold; }
    #product-wrapper .productcontainer i {
      cursor: pointer;
      font-size: 48px;
      margin-top: 20px; }

body .inputcontainer {
  margin: 20px;
  display: flex;
  align-content: center;
  flex-direction: column; }
  body .inputcontainer label {
    font-family: 'Courier New', Courier, monospace; }
  body .inputcontainer input {
    border: 1px solid black;
    width: 20%; }
  body .inputcontainer button {
    border: 1px solid black;
    width: 80px;
    border-radius: 5px; }

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: wrap; }
  body header {
    width: 100%;
    height: 650px;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center; }
    body header h1 {
      margin-top: 250px;
      margin-bottom: 0px;
      font-size: 4em;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: 900;
      font-family: "firstorder";
      text-transform: uppercase; }
      @media (min-width: 768px) {
        body header h1 {
          font-size: 5em; } }
    body header h3 {
      margin-top: 0px;
      font-size: 2em;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: 900;
      font-family: "firstorder"; }
      @media (min-width: 768px) {
        body header h3 {
          font-size: 3em; } }
  body .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 35px; }
    body .wrapper #about-us {
      width: 90%; }
    body .wrapper span {
      line-height: 15px; }
  body .main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 15px;
    flex-wrap: wrap; }
    body .main-content #highlight1 {
      background-image: url(../img/hemmabryggeri.jpeg);
      background-position: 30%;
      background-size: cover; }
    body .main-content #highlight2 {
      background-image: url(../img/ren.jpg);
      background-position: center;
      background-size: cover; }
      @media (min-width: 768px) {
        body .main-content #highlight2 {
          background-position: left; } }
    body .main-content #highlight3 {
      background-image: url(../img/bastu.jpeg);
      background-position: center;
      background-size: cover; }
    body .main-content .content {
      width: 90%;
      height: 300px;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative; }
      @media (min-width: 768px) {
        body .main-content .content {
          width: 30%; } }
      body .main-content .content div {
        position: absolute;
        bottom: 10px;
        left: 10px; }
        body .main-content .content div h3 {
          color: white;
          font-size: 45px;
          text-shadow: 0px 0px 5px black; }
          @media (min-width: 768px) {
            body .main-content .content div h3 {
              font-size: 30px; } }
        body .main-content .content div span {
          color: white;
          font-size: 15px;
          text-shadow: 0px 0px 5px black;
          margin-left: 2px;
          font-weight: 700; }
  body footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: white; }
