body {

    .inputcontainer {
        margin: 20px;
        display: flex;
        align-content: center;
        flex-direction: column;
        label {
            font-family: 'Courier New', Courier, monospace;
        }
        input {
            border: 1px solid black;
            width: 20%;
        }
        button {
            border: 1px solid black;
            width: 80px;
            border-radius: 5px;
        }
    }
}