$colorfooter:rgb(37, 37, 37);

@mixin tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 992px) { @content; }
}

.footer-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    background-color:white;
    box-shadow: 0px -13px 17px 8px rgba(255,255,255,1);
    padding: 10px;
    font-size: 14px;
   
    .content {
        color: $colorfooter;
        width: 30%;
        // padding-top: 10px;
        padding: 10px;


        ul{
            list-style-type: none;
            padding: 0;
            
        li{
            padding: 3px;
            a{
                color: $colorfooter;
                i {
                    margin-right: 5px;
                }
                a:hover {
                    color:rgb(63, 63, 63);
                  }
            }
        }
    }
}
}
//     .content {
//         display: flex;
//         justify-content: space-between;
//         // text-align: center;
//         width: 30%;
//         @include tablet{
//             width: 20%;
//         }
//         a {
//             color: $colorfooter;
//         }
//         i {
//             font-size: 2em;
//             padding-bottom: 15px;
//         }
//         span {
//             margin-left: 10px;
//         }
//     }
// }