#divmodal{
    background-color:rgba(0, 0, 0, 0.7);
    position: fixed;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .innerModal{
        background-color: #fff; 
        visibility: hidden;
        width: 500px;
        height: auto;
        padding: 25px;
        margin: 15% auto;
        border-radius: 4px;
        #modalcontent {
            display: flex;
            flex-direction: column;
            justify-content: center;    
            .listcontainer {
                margin: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .modalimg {
                    width: auto;
                    height: 50px;
                }
                .modalamount {
                    width: 10%;
                }
                .modalnameprice {
                    width: 50%;
                }
                .modaltotprice {
                    width: 10%;
                }
            }
            .totalprice {
                margin: 20px auto;
                font-weight: bold;
                color: green;
            }
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // width: 90%;
            // .img-container {
            //     width: 20%;
            //     img {
            //         width: 100%;
            //         height: 50px;
            //         }
            // }
            // .quantity {
            //     width: 10%;
            //     line-height: 50px;
            // }
            // .title {
            //     width: 50%;
            //     line-height: 50px;
            // }
            // .item-price {
            //     width: 10%;
            //     line-height: 50px;
            // }
    }
    .close{
        cursor: pointer;
        transform: rotate(45deg);
    }
    .heart{
     
 
    }.heart:hover .fas.fa-heart{
        color:rgb(143, 20, 20);
    }
    a{
        color: rgba(0, 0, 0, 0.7);
    } 
    }
}
 
#divmodal.active{
    visibility: visible;
    .innerModal.active{
        visibility: visible;  
    }
}