.navcontainer {
    position: relative;
    .js-toggleMenu {
    position: relative; 
    z-index: 9; 
    height: 40px; 
    width: 40px; 
    background-color: gray;
    }
    .js-menu {
        width: 50%;
        display: none;
        // position: absolute;
        width: 100%;

        background-color: white;
        top: 0;
        left: 0;
        z-index: 8;

        .js-toggleDrink {
            font-weight: bold;
            position: relative;
        }
        .js-drinkMenu {
            width: 50%;
            display: none;
            width: 100%;
            height: 120px;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 8;
        }
        .js-toggleSnow {
            font-weight: bold;
        }
        .js-snowMenu {
            width: 50%;
            display: none;
            width: 100%;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 8;
        }
        .js-toggleTobacco {
            font-weight: bold;
        }
        .js-tobaccoMenu {
            width: 50%;
            display: none;
            width: 100%;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 8;
        }
        .js-toggleGuns {
            font-weight: bold;
        }
        .js-gunsMenu {
            width: 50%;
            display: none;
            width: 100%;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 8;
        }
    }
}