@mixin tablet {
    @media (min-width: 768px) { @content; }
}

@mixin desktop {
    @media (min-width: 992px) { @content; }
}

#product-wrapper {
    background-image: url(../img/wood2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    @include tablet {
        
        
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }
.productcontainer {
    height: 300px;
    width: 90%;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(141,153,153,1);
    @include tablet {
        width: 45%;
    }
    @include desktop {
        width: 22%;
    }
        .productname {
            font-size: large;
            width: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .productimg {
            width: 50%;
            height: 100px;
        }
        .productprice {
            font-weight: bold;
        }
        .productdescription {
            text-align: floor($number: 0)
            
        }
    }
}